
.vs/OMP/FileContentIndex/cfb6a96f-fbfc-47ce-bcb5-1e3300ad989f.vsidx
.vs/OMP/FileContentIndex/read.lock
.vs/OMP/v17/Browse.VC.db
.vs/OMP/v17/Browse.VC.db-shm
.vs/OMP/v17/Browse.VC.db-wal
.vs/OMP/v17/Browse.VC.opendb
.vs/OMP/v17/Solution.VC.db
.vs/OMP/v17/Solution.VC.db-shm
.vs/OMP/v17/Solution.VC.db-wal
/.vs/OMP/FileContentIndex
/.vs/OMP/v17
/x64/Release
/debug.log
/GPUCache
.Rproj.user
*.exe
*.bak
*.pdb
.RData
.Rhistory
